.footer {
    margin-top: 71px;
    display: flex;
    padding: 0 200px;
    background-color: #4C5B6D;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 60px;
}

.footer p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #D8DEFF;
}

.footer nav {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.footer nav a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #D8DEFF;
}