.footer {
    margin-top: 71px;
    display: flex;
    padding: 8px 200px;
    background-color: #4C5B6D;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.footer p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #D8DEFF;
}

.footer nav {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.footer nav a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #D8DEFF;
}

@media only screen and (max-width:1024px){
    .footer{
        padding: 8px 50px;
    }
}

@media only screen and (max-width:640px){
    .footer{
        padding: 8px 50px;
        display:flex;
        flex-direction: column-reverse;
    }
    .footer nav{
        display:grid;
        width:100%;
        grid-template-columns: 1fr;
        place-items: center;
    }
    .footer nav a{
        padding: 10px 0;
        border-bottom: 1px solid black;
    }
}

