.quote {
    display: flex;
    gap:30px;
    padding: 0 200px;
    background-color: #FAB702;
    justify-content: space-between;
    align-items: center;
}

.quote button {
    height: 48px;
    width: 151px;
    background: #FFFFFF;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #F9B701;
}

.info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.info a{
    color:#000000;
    font-style: italic;
}

@media only screen and (max-width:1368px) and (min-width:1024px) {
    .info{
        line-height: 40px;
    }      
}
@media only screen and (max-width:1023px){
    .quote{
        padding: 0 50px;
        display: grid;
        gap:0;
        justify-content:center
    }
    .quote div{
        text-align: center;
    }
    .info{
        line-height: 30px;
        font-size: 18px;
    } 
    .quote button{
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:640px){
    .quote { 
        padding: 0 25px;
    }
}